*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}
body{
    padding-top: 50px;
    background-image: url(background2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.893);
} 
.moon{
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: solid 1px rgb(247, 0, 255);
    position: relative;
    margin: auto;
    background-image: url(https://i.pinimg.com/736x/1c/28/a6/1c28a64050e0b5be909f523f71a9b55a.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 15px;
}
.moon::before{
    content: '';
    background-color: rgb(247, 0, 255);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: 2s moon linear infinite alternate;
}
    @keyframes moon {
        0%{
            transform: translateX(60px) scale(0.9);
            box-shadow: none;

        }
        50%{
            transform: translate(0px, 0px) scale(1.02);
            box-shadow: 0 0 10px rgb(247, 0, 255), 0 0 80px 2px rgb(247, 0, 255);
        }
        100%{
            transform: translateX(-60px) scale(0.9);
            box-shadow: none;
        }
}

.myOutput{
    width: 55%;
    height: 30%;
    border-radius: 150px 150px 0 0;
    backdrop-filter: blur(5px);
    border: solid 1px rgb(247, 0, 255);
    display: flex; justify-content: center; align-items: center;
    color: rgb(242, 0, 255);
}
.myOutput h4{
    text-align: center;
    width: 70%;
}
.inputDiv{
    width: 55%;
    height: 20%;
    border-radius: 0 0 150px 150px;
    outline: none;
    border: none;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: solid 1px rgb(247, 0, 255);
    display: flex; justify-content: center; align-items: center;
}
input{
 width: 80%;
 height: 40%;
 outline: none;
 border: none;
 border-radius: 20px;
 /* background-color: rgba(255, 255, 255, 0.096); */
 background-color: transparent;
 text-align: center;
 color: rgb(247, 0, 255);
}
input::placeholder{
    color: rgb(247, 0, 255);
    text-align: center;
}
input:hover{
   border-width: 3px;
}
.guessButton{
    width: 20%;
    height: 10%;
    border-radius: 20px 20px 0 0;
    border: none;
    backdrop-filter: blur(5px);
    border: solid 1px rgb(247, 0, 255);
    background-color: transparent;
    display: flex; justify-content: center; align-items: center;
    color: rgb(251, 0, 255);
}
.guessButton:hover{
    cursor: pointer;
    background-color: rgb(247, 0, 255);
    color: white;
    font-weight: 600;
    transition: 0.3s;
}
h2{
    color: rgba(234, 0, 255, 0.334);
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -5px;
    width: 10%;
    position: absolute;
    top: 25%;
    left: 20px;
    transform: rotate(-30deg);
}
h3{
    color: rgba(234, 0, 255, 0.334);
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -5px;
    width: 10%;
    position: absolute;
    bottom: 10%;
    right: 150px;
    transform: rotate(-30deg);
}
.refresh{
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: solid 1px rgb(234, 0, 255);
    outline: none;
    fill: rgb(234, 0, 255);
}
.refresh:hover{
    background-color: rgb(255, 255, 255);
}

       
    